.header {
  padding-bottom: 85px; }

.logo {
  float: left; }

.nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  float: right;
  padding-right: 23px;
  position: relative; }
  .nav .nav-content {
    padding: 11px;
    cursor: pointer; }
    .nav .nav-content a {
      text-decoration: none;
      color: #3c3c3c;
      font-size: 13px; }
      .nav .nav-content a:hover {
        color: #ae3b44; }
    .nav .nav-content .dropdown-content {
      display: none;
      position: absolute;
      top: 37px;
      right: 172px;
      background-color: #212121;
      width: 145px;
      font-size: 12px;
      z-index: 1; }
      .nav .nav-content .dropdown-content a {
        color: #dbdedf;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
            flex-direction: column;
        -ms-flex-pack: center;
            justify-content: center;
        padding: 10px; }
        .nav .nav-content .dropdown-content a:hover {
          color: #fff;
          font-weight: 600; }
      .nav .nav-content .dropdown-content i.fa-caret-up {
        color: #212121;
        position: absolute;
        bottom: 95%;
        left: 50%; }
      .nav .nav-content .dropdown-content i.caret-visible {
        color: #212121;
        position: absolute;
        right: 0;
        left: 99%; }
  .nav .layouts:hover .dropdown-content {
    display: block; }

.dropdown-content-second {
  display: none;
  position: absolute;
  top: 0;
  left: 149px;
  background-color: #212121;
  width: 145px;
  font-size: 12px;
  z-index: 1; }
  .dropdown-content-second i.caret-transparent {
    color: #fff;
    position: absolute;
    left: -1%; }

.dropdown-content:hover .dropdown-content-second {
  display: block; }

.sidebar {
  max-width: 245px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  border-right: 1px solid #e7e7e7; }
  .sidebar .sidebar-button {
    height: 39px;
    background-color: #fff;
    line-height: 39px;
    border: 1px solid #e7e7e7;
    border-left: none;
    cursor: pointer;
    position: relative; }
    .sidebar .sidebar-button a {
      text-decoration: none;
      color: #606061;
      font-size: 12px;
      padding: 0 16px; }
      .sidebar .sidebar-button a:hover {
        color: #ae3b44; }
    .sidebar .sidebar-button i {
      position: absolute;
      top: 33%;
      right: 0;
      padding-right: 13px;
      color: #989898;
      font-size: 12px; }
  .sidebar .btn-header {
    background: repeating-linear-gradient(-45deg, #fff, #fff 9px, #e7e7e7 1px, #e7e7e7 10px);
    border-top: none; }
    .sidebar .btn-header a {
      font-size: 18px; }
  .sidebar .light-blue-bg {
    background-color: #f4f7f8;
    padding-left: 22px; }
  .sidebar .blue-bg {
    background-color: #eaeaea;
    border: 1px solid #d6d6d6;
    padding-left: 42px; }
    .sidebar .blue-bg i {
      left: 16%;
      top: 36%; }
  .sidebar .active {
    background-color: #ae3b44;
    border: 1px solid #ae3b44; }
    .sidebar .active a {
      color: #fff; }
    .sidebar .active i {
      color: #ae3b44;
      left: 100%;
      font-size: 14px; }
  .sidebar .hidden {
    border-bottom: none; }

.main-aside-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row; }

.main {
  width: 100%;
  max-width: 734px;
  padding-left: 34px;
  text-align: justify; }
  .main .main-header-wrapper {
    position: relative;
    padding: 31px 34px 27px 0; }
    .main .main-header-wrapper .main-header {
      color: #3d3d3d;
      font-size: 24px;
      max-width: 78%;
      text-align: left;
      word-spacing: -3px; }
  .main .main-date {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 42px;
    width: 80px;
    text-align: center;
    padding: 21px 0;
    color: #bebebf;
    background: repeating-linear-gradient(-45deg, transparent, transparent 9px, #e7e7e7 1px, #e7e7e7 10px); }
    .main .main-date .date-header {
      font-size: 17px;
      font-weight: 700; }
    .main .main-date .date-text {
      font-size: 10px; }
  .main .line {
    width: 100%;
    height: 0;
    border-bottom: 1px solid #e7e7e7; }
  .main .text-italic {
    font-size: 15px;
    color: #a1a3a4;
    font-style: italic;
    padding: 19px 26px 29px 0px;
    line-height: 1.4; }
  .main .main-header-red {
    color: #ae3b44;
    font-size: 15px;
    padding: 24px 0 20px 0; }
  .main .main-text {
    font-size: 12px;
    line-height: 1.58;
    padding-right: 25px;
    word-spacing: -0.52px; }
  .main .main-imgBig-wrapper {
    text-align: center; }
    .main .main-imgBig-wrapper img {
      padding: 41px 36px 4px 0px; }
    .main .main-imgBig-wrapper div {
      font-size: 11px;
      color: #c0c0c0;
      margin-bottom: 35px;
      margin-right: 40px; }
  .main .main-text-top {
    line-height: 1.6;
    font-size: 12px;
    padding-right: 18px; }
  .main .main-imgSmall-wrapper {
    padding: 32px 33px 29px 0;
    float: left; }
  .main .main-text-center1 {
    line-height: 1.583;
    font-size: 12px;
    margin-bottom: 22px;
    padding-right: 18px; }
  .main .main-text-center2 {
    line-height: 1.6;
    font-size: 12px;
    padding-right: 18px;
    padding-bottom: 31px; }
  .main .main-text-end1 {
    line-height: 1.583;
    font-size: 12px;
    padding-right: 18px;
    padding-bottom: 23px; }
  .main .main-text-end2 {
    line-height: 1.583;
    font-size: 12px;
    padding-right: 18px;
    padding-bottom: 28px; }
  .main .main-nav {
    max-height: 67px; }
    .main .main-nav button {
      height: 15px;
      width: 15px;
      border-radius: 50%;
      position: relative;
      border: 1px solid #ababab; }
      .main .main-nav button i {
        position: absolute;
        color: #757575; }
      .main .main-nav button .fa-caret-left {
        top: 0%;
        left: 17%; }
      .main .main-nav button .fa-caret-right {
        top: 0%;
        right: 17%; }
    .main .main-nav span {
      color: #ae3b44;
      font-size: 15px; }
    .main .main-nav .previous {
      float: left;
      padding: 27px 0 23px 0; }
      .main .main-nav .previous span {
        margin-left: 17px; }
    .main .main-nav .next {
      float: right;
      padding: 27px 0 23px 0; }
      .main .main-nav .next span {
        margin-right: 17px; }

.footer {
  width: 100%;
  height: 175px;
  box-sizing: border-box;
  background-color: #f8f8f8; }
  .footer .f-container {
    border-top: 1px solid #dcdcdc;
    background: #f8f8f8;
    padding: 0 167px; }
  .footer .footer-container {
    background-color: #f8f8f8; }
  .footer .footer-content-wrapper {
    padding: 21px 5px;
    height: 175px;
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-align: start;
        align-items: flex-start; }
    .footer .footer-content-wrapper .footer-part1 {
      width: 47%; }
      .footer .footer-content-wrapper .footer-part1 h1 {
        color: #aaa;
        font-size: 15px;
        margin: 0;
        margin-bottom: 27px;
        font-weight: 500;
        text-align: left; }
      .footer .footer-content-wrapper .footer-part1 .footer-part1-content {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: row;
            flex-direction: row;
        -ms-flex-pack: justify;
            justify-content: space-between;
        -ms-flex-align: start;
            align-items: flex-start;
        width: 80%; }
        .footer .footer-content-wrapper .footer-part1 .footer-part1-content .footer-content {
          display: -ms-flexbox;
          display: flex;
          -ms-flex-direction: column;
              flex-direction: column;
          line-height: 1.583; }
          .footer .footer-content-wrapper .footer-part1 .footer-part1-content .footer-content a {
            text-decoration: none;
            color: #cbcbcb;
            font-size: 12px; }
    .footer .footer-content-wrapper .footer-part2 {
      width: 20%; }
    .footer .footer-content-wrapper .footer-part3 {
      width: 19%; }
      .footer .footer-content-wrapper .footer-part3 .icons-wrapper {
        display: inline-block;
        margin-bottom: 17px; }
        .footer .footer-content-wrapper .footer-part3 .icons-wrapper .icon {
          background: url("../../images/icons.png");
          background-repeat: no-repeat;
          width: 24px;
          height: 24px;
          display: inline-block; }
        .footer .footer-content-wrapper .footer-part3 .icons-wrapper .first-icon {
          background-position: -5px -73px; }
          .footer .footer-content-wrapper .footer-part3 .icons-wrapper .first-icon:hover {
            background-position: -39px -73px; }
        .footer .footer-content-wrapper .footer-part3 .icons-wrapper .second-icon {
          background-position: -5px -5px; }
          .footer .footer-content-wrapper .footer-part3 .icons-wrapper .second-icon:hover {
            background-position: -39px -5px; }
        .footer .footer-content-wrapper .footer-part3 .icons-wrapper .third-icon {
          background-position: -5px -39px; }
          .footer .footer-content-wrapper .footer-part3 .icons-wrapper .third-icon:hover {
            background-position: -39px -39px; }
        .footer .footer-content-wrapper .footer-part3 .icons-wrapper .fourth-icon {
          background-position: -73px -5px; }
          .footer .footer-content-wrapper .footer-part3 .icons-wrapper .fourth-icon:hover {
            background-position: -73px -39px; }
    .footer .footer-content-wrapper .footer-content {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: column;
          flex-direction: column;
      line-height: 1.583; }
      .footer .footer-content-wrapper .footer-content h1 {
        color: #aaa;
        font-size: 15px;
        margin: 0;
        margin-bottom: 20px;
        font-weight: 500; }
      .footer .footer-content-wrapper .footer-content a {
        text-decoration: none;
        color: #cbcbcb;
        font-size: 12px; }

html, body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif; }

.container {
  padding: 37px 167px 27px 167px;
  max-width: 980px;
  position: relative;
  margin: auto;
  background-image: url("../../images/background.png"); }

.news {
  width: 100%; }
  .news .news-content {
    max-width: 979px;
    max-height: 128px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
        flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    background-color: #ae3b44;
    border-top: 7px solid black; }
    .news .news-content .news-image {
      display: inline-block; }
      .news .news-content .news-image img {
        max-width: 245px; }
    .news .news-content .news-text-wrapper {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-direction: row;
          flex-direction: row;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      -ms-flex-align: start;
          align-items: flex-start;
      text-align: left;
      padding: 22px 30px 24px 30px; }
      .news .news-content .news-text-wrapper .news-header {
        font-size: 24px;
        color: #fff;
        min-width: 155px; }
      .news .news-content .news-text-wrapper .news-text {
        font-size: 12px; }
        .news .news-content .news-text-wrapper .news-text .news-text-inside {
          padding-bottom: 21px;
          margin-left: 80px;
          line-height: 1.58; }
      .news .news-content .news-text-wrapper .news-icons-wrapper {
        margin-left: 93%; }
        .news .news-content .news-text-wrapper .news-icons-wrapper i {
          color: #f3e2e3; }
        .news .news-content .news-text-wrapper .news-icons-wrapper i.fa-angle-left {
          margin-right: 17px; }

.line {
  width: 100%;
  height: 0;
  border-bottom: 1px solid #e7e7e7; }

.clients-wrapper {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: justify;
      justify-content: space-between; }
  .clients-wrapper img {
    cursor: pointer; }
